{% extends 'main/base.html' %}
{% block content %}
<!-- Service section -->
<section id="service" class="section">
    <div class="container text-center">
        <h6 class="subtitle">Service</h6>
        <h6 class="section-title mb-4">What I Do</h6>
        <p class="mb-5 pb-4">{{descriptions.about_service|linebreaksbr}}</p>

        <div class="row">
            {% for service in services %}
            <div class="col-sm-6 col-md-3 mb-4">
                <div class="custom-card card border">
                    <div class="card-body">
                        <i class="icon {{service.service_css_class}}"></i>
                        <h5>{{service.service}}</h5>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
</section>
<!-- End of Sectoin -->
<!-- Skills section -->
<section class="section">
    <div class="container text-center">
        <h6 class="subtitle">Skills</h6>
        <h6 class="section-title mb-4">Why Choose me</h6>
        <p class="mb-5 pb-4">{{descriptions.about_skill|linebreaksbr}}</p>

        <div class="row text-left">
            {% for skill in skills %}
            <div class="col-sm-6">
                <h6 class="mb-3">{{skill.skill}}</h6>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: {{skill.level}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>89%</span></div>
                </div>
            </div>
            {% endfor %}
            {% comment %} <div class="col-sm-6">
                <h6 class="mb-3">Web Design</h6>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 83%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>83%</span></div>
                </div>
            </div>
            <div class="col-sm-6">
                <h6 class="mb-3">App Design</h6>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 95%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>95%</span></div>
                </div>
            </div>
            <div class="col-sm-6">
                <h6 class="mb-3">SEO</h6>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span>90%</span></div>
                </div>
            </div> {% endcomment %}
        </div>  
    </div>
</section>
<!-- End of Skills sections -->

{% endblock %}